* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 15px auto;
}
ul {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}
ul,
li,
a {
  text-decoration: none;
  font-size: 15px;
  color: #575757;
}

.container {
  max-width: 1320px;
  margin: auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.common-btn:hover {
  background-color: rgb(107, 106, 105);
  cursor: pointer;
}

.hero {
  background-image: url(./images/banner.jpg);

  height: 80vh;
  width: 100%;
  /* max-width: 1551px; */

  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
}
.herotextdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}
.banner-p {
  text-align: center;
  color: hwb(0 100% 0%);
  font-size: 20px;
  opacity: 0.7;
  width: 550px;
  margin: 20px auto;
}
.second-btn {
  text-align: center;
  align-items: center;
  margin-top: 200px;
}
/* meet the speaker */
.meet-section {
  text-align: center;
  padding: 20px 0;
  margin: 30px;
  font-weight: bold;
  font-size: 50px;
  color: #000102;
}
.meet-the-speaker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  text-align: center;
  margin: 50px;
}
.same-div4,
img {
  border-radius: 20px;
  border: #ededed solid 0.1px;
}

.speaker-p {
  color: #575757;
  padding: 10px;
}
.meet {
  color: #2563eb;
  padding: 10px;
}
