* {
  margin: 0;
  padding: 0;
}
/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 15px auto;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}

.nav-li,
a {
  text-decoration: none;
  font-size: 20px;
  color: #575757;
  
}

.container {
  max-width: 1320px;
  margin: auto;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.common-btn:hover {
  background-color: rgb(107, 106, 105);
  cursor: pointer;
}

.hero {
  background-image: url(./images/banner.jpg);

  height: 80vh;
  width: 100%;
  /* max-width: 1551px; */

  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
}
.herotextdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}
.banner-p {
  text-align: center;
  color: hwb(0 100% 0%);
  font-size: 20px;
  opacity: 0.7;
  width: 550px;
  margin: 20px auto;
}
.second-btn {
  text-align: center;
  align-items: center;
  margin-top: 200px;
}
/* meet the speaker */
.meet-section {
  text-align: center;
  padding: 20px 0;
  margin: 30px;
  font-weight: bold;
  font-size: 50px;
  color: #000102;
}
.meet-the-speaker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  text-align: center;
  margin: 50px;
}
.same-div4,
img {
  border-radius: 20px;
  border: #ededed solid 0.1px;
}

.speaker-p {
  color: #575757;
  padding: 10px;
}
.meet {
  color: #2563eb;
  padding: 10px;
}
/* secure your spot */

.your-spot {
  text-align: center;
  font-size: 45px;
  padding: 6px 0;
  margin: 20px auto;
}

.datespot {
  text-align: center;
  color: #575757;
}
.sport-parent {
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
  padding: 20px 0;
  margin: 20px;
}
.chila-sport {
  border: solid 0.1px #e3e2e2;
  text-align: left;
  color: #575757;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 20px;
  margin: 15px 0;
 
}
.price {
  color: #000102;
}
.standard {
  color: #000102;
  padding: 5px;
  text-align: left;
}
.spot-hr {
  margin: 10px 0;
}
.multi-class {
  background-color: #0d1a2b;
  color: #ffffff;
}
.button {
  border: solid 01px cadetblue;
  text-align: center;
  align-items: center;
  padding: 8px 15px;
  margin: 10px auto;
  border-radius: 10px;
}
.button:hover{
  background-color: rgb(68, 68, 140);
  cursor: pointer;

}
.multi-btn {
  color: #ffffff;
  background-color: #1d4ed8;
  margin-top: 30px;
}
/* footer section */
.footer-main {
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  gap: 20px;
}
.dev-multi {
  border: solid 0.1px rgb(195, 227, 228);
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fefeff;
}
.devconnect {
  display: flex;
  gap: 8px;

  /* padding: 5px 10px; */
  margin: 10px auto;
}
.dev-p {
  width: 300px;
  padding-left: 10px 0;
  margin-top: 100px;
}
h3 {
  font-size: 30px;
  margin: 20px;font-style: italic;
 8;
}
.social-item {
  margin: 10px;
}
.fr-dev {
  width: 1000px;
  text-align: center;
  align-items: center;
  margin: 20px auto;
}
.p-end {
  text-align: center;
  padding: 5px 20px;
  /* margin: 20px; */
  margin-bottom: 20px;
  font-weight: bold;
  color: #000102;
}
.dev-in-use-span {
  color: blueviolet;
  font-size: 50px;
  font-style: italic;
}
.span-4word {
  font-size: 20px;
  color: rgb(253, 7, 7);
  font-style: initial;
}
